* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-repeat: no-repeat;
    background-position: bottom;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 3em;
    font-weight: 700;
}

/** Comienzo de estilos del header **/

.header_container {
    width: 100vw;
    background-color: rgba(252, 252, 252, 0.1);
    display: flex;
    justify-content: space-around;
    
}

.header_items {
    max-width: 1200px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_container a {
    text-decoration: none;
    color: #070800;
    font-weight: 400;
    font-size: 1.5em;
}

li a:hover {
    color:  #6d8875;
}

.logo > a > img {
    max-width: 80px;
    max-height: 80px;
    cursor: pointer;
    padding: 10px;
}

 .header_nav--ul{
    display: none;
} 

.menu_hamburguesa{
    color: black;
    font-size: 0px;
    border: none;
    padding: 35px;
    background-image: url(../assets/iconos/menu.png);
    background-position: left center;
    background-repeat: no-repeat;
    background-color: transparent;
}


/** Final de estilos del header **/

/** Comienzo estilos footer**/

.footer_web {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 70px;
       
}

.redes > a {
    text-decoration: none;
    color: white;
    font-weight: 400;
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0 1em 1em;
    
}

.copy {
    font-weight: 100;
    font-size: 0.8em;
    display: flex;
    padding: 0 1em 1em 0;
    align-items: end;
    color: white;
}

/** Final estilos footer**/

/**Comienzo estilos main HTML home**/

.body_inicio {
    background-image: url(../assets/fondo-inicio.jpg);
}

.h1_main{
    text-align: center;
}

.container_main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 1em;
}

.carta_presentacion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    background-color: rgb(231, 164, 137, 0.5);
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    cursor: default;
    transition: all 400ms ease;
}

.carta_presentacion:hover {
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4); 
    transform: translateY(-3%);
}

 .container_main > div > h2 {
    padding-top: 1em;
    font-weight: 700;
    font-size: 2em;
}

.container_main > div > p { 
    padding: 1em;
    text-align: center;
    font-weight: 400;
    font-size: 1.3em;
}

/** Estilos para el carrousel**/

.container_carrousel {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 3em 0;
}

.container_carrousel img {
    min-width: 300px;
    max-width: 50%;
    border-radius: 15px;
}

/** Final estilos main HTML home**/

/**Comienzo estilos seccion nuestros clientes dicen home**/

.titulo_seccion{
    text-align: center;
    font-size: 2em;
    padding: 0 0 20px 20px;
}

.container_clientes{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, auto);
    grid-template-areas: "cecilia cecilia cecilia cecilia"
                         "juan juan silvia silvia"
                         "juan juan silvia silvia"
                         "fernando fernando fernando fernando";
    justify-items: center;
    padding: 10px;
    gap: 10px;
                       
}

.container_clientes > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    width: 100%;
    background-color: rgb(231, 164, 137, 0.5);
}

 .comentario1 {
    grid-area: juan;
}

.comentario2 {
    grid-area: silvia;
}

.comentario3 {
    grid-area: cecilia;
}

.comentario4 {
    grid-area: fernando;
} 

.container_clientes > div > h2 {
    text-align: center;
    margin-top: 0.5em;
}

.container_clientes > div > p {
    text-align: center;
    margin: 0.5em;
}

/**Final estilos seccion nuestros clientes dicen home**/

/** Comienzo estilos HTML tratamientos cosmetologicos**/

.body_tratamientos {
    background-image: url(../assets/fondo-tratamientos.jpg);
}

.titulo_servicios {
    text-align: center;
    padding-top: 0.5em; 
           
}

.contenedor_tarjetas{
    display: grid;
    grid-template-columns: 100%;
    max-width: 500px;
    align-items: center;
    justify-items: center;
}

.tarjeta_servicio {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    height: 45vh;
    margin: 10px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
}

.img_servicio > img {
    height: 200px;
    min-height: 100%;
    width: 100%;
    border-radius: 0 0 10px 10px;
    object-fit: cover;
    object-position: 20% 40%;
}

.contenedor_texto--servicio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.contenedor_texto--servicio > h2 {
    padding: 0 0 16px 0;
}

.contenedor_texto--servicio > p {
    padding: 0 16px;
}



/** Final estilos HTML tratamientos cosmetologicos**/

/**Comienzo estilos terapia floral**/
.body_flor {
    background-image: url(../assets/fondo-bash.jpg);
    background-position: 48%;
}

.contenedor_flores {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    align-items: center;
}

.flores_carrousel > img {
    border-radius: 15px;
    height: 70vh;
    max-width: 90vw;
}

.contenedor_flores--informacion {
    display: flex;
    flex-direction: column;  
    margin: 1em;
    min-height: 70vh;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 15px;
    align-items: center;
}

.contenedor_flores--informacion > h1 {
    text-align: center;
    padding: .2em;
    font-size: 2.7em;
}

.contenedor_flores--informacion > h2 {
    font-size: 2em;
    text-align: center;
}

.contenedor_flores--informacion > p {
    padding: 1em 0 1em 0;
    font-size: 1.5em;
    text-align: justify;
    padding: .5em;
}


/**final estilos terapia floral**/

/**Comienzo estilos nutricion**/

.body_nutri {
    background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgb(0, 0, 0, 0.5), rgb(0, 0, 0, 0.3)), url(../assets/nutri-fondo1.jpg) ;
    color: white;
}

.contenedor_nutri {
    min-height: calc(97vh - 100px - 100px);
    margin: 2em;
}


/**Final estilos nutricion**/

/**Comienzo estilos contactame**/

.body_contactame {
    background-image: url(../assets/fondo-contactame.jpg);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

.container_formulario {
    display: flex;
    justify-content: center;   
}

.container_formulario--items {
    display: flex;
    flex-direction: column;
    background-color: rgb(171, 214, 186, 0.5);
    border-radius: 15px;
    width: 90vw;
    height: 48vh;
    max-width: 45vh;
}

.container_formulario--items > div {
    padding: 0.5em 1.5em;
    
}

.titulo_form{
    text-align: center;
    padding: .5em 0 .5em 0;
}

.inputs {
    display: flex;
    justify-content: space-between;
}

.input_deja--mensaje {
    display: flex;
    flex-direction: column;
}

.input_deja--mensaje > label {
    padding-bottom: 1em;

}

/**Final estilos contactame**/


@media (min-width: 990px) {

    /** fondos de pagina **/

        .body_inicio,
        .body_tratamientos,
        .body_flor,
        .body_nutri,
        .body_contactame {
            background-size: cover;
        }
    
    /** estilos header**/
    .menu_hamburguesa {
        display: none;
    }

    .header_nav--ul {
        display: flex;
        margin: 0;
    } 

    .header_nav--ul li {
        list-style: none;
        margin: 2em .7em;
    } 

    /**fin estilos header**/

    /**Comienzo estilos main HTML home**/

    .h1_main{
        padding: 1em; 
    }

    .container_main {
        flex-wrap: nowrap;
        padding: 0 10px;
    }

    .container_main > div {
        justify-content: flex-start;
    }

    /** Estilos para el carrousel**/

    .container_carrousel {
        margin: 2em 0;
    }

    .container_carrousel img {
        max-width: 500px;
    }

    /** Final estilos main HTML home**/

    /** Comienzo estilos HTML tratamientos cosmetologicos**/

    .contenedor_tarjetas{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        row-gap: 30px;   
        max-width: 100%;     
    }

    .tarjeta_servicio {
        display: flex;
        flex-direction: row;
        width: 500px;
        height: 300px;
        margin: 0;
    }

    .img_servicio > img {
        height: 300px;
        width: 200px;
        border-radius: 10px 0 0 10px;
        object-fit: fill;
    }

    /** Final estilos HTML tratamientos cosmetologicos**/

    /**Estilos terapia floral**/

    .contenedor_flores {
        display: flex;
        flex-direction: row;
        min-height: calc(100vh - 90px - 90px);
        align-items: center;
    }
    
    .flores_carrousel > img {
        margin: 2em;
    }
        
    .contenedor_flores--informacion > h1 {
        padding: 0.5em;
        font-size: 3.5em;
    }
    
    .contenedor_flores--informacion > p {
        padding: 1em 0 1em 0;
        font-size: 1.5em;
    }
    
    /** fin estilos terapia floral**/

    /**Comienzo estilos contactame**/

    .container_formulario--items {
        min-width: 45vh;
        max-width: 30%;
        height: 43vh;
    }

    /**Final estilos contactame**/
}